@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Sans:wght@100;300;400;500&display=swap');

a {
  color: #002F5D;
}

a:hover {
  color:#002F5D; 
  text-decoration:none;
}

/* Color */
.primary-color {
  color: #3FD3C3;
}

.secondary-color {
  color: #002F5D;
}

.sunset-orange-color {
  color: #FFA940;
}

.bg-primary-color {
  background-color: #3FD3C3;
}

.bg-secondary-color {
  background-color: #002F5D;
}

/* Button */
.btn {
  border-radius: 32px;
}

/* Font */
body {
  font-family: 'Noto Sans';
  color: #002F5D;
}

footer {
  font-family: 'Inter';
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs28 {
  font-size: 28px;
}