<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/1e357e8cb4.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="js/navbar.js" type="text/javascript" defer></script>
    <script src="js/footer.js" type="text/javascript" defer></script>
    <script src="js/i18n.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav id='navbar' class='navbar navbar-light navbar-expand-lg border-bottom sticky-top bg-white'></nav>
    <div id='login-modal'></div>
    <section class='content container mt-5'>
      <div class='row pt-5 pb-5'>
        <div class='col'></div>
        <div class='col-lg-4 col-md-8 col-sm-12'>
          <div class='d-flex flex-column'>
            <h3 class='i18n-7 font-weight-bold'>合作方登入</h3>
          </div>
          <form id='partner-login-form' class='mt-5 mb-5' action='partner/candidate-management.html'>
            <div class='form-group'>
              <label>
                <span class='i18n-164'>账号</span>
              </label>
              <input type='email' class='form-control i18n-164' placeholder='账号'>
            </div>
            <div class='form-group'>
              <label>
                <span class='i18n-165'>密码</span>
              </label>
              <input type='email' class='form-control i18n-165' placeholder='密码'>
            </div>
            <div class='g-recaptcha mb-2' data-sitekey='6LduQIkoAAAAACTqA7h-DMcBcBog5mBiHdk-CULq'></div>
            <div class='text-center'>
              <button id='to-partner-dashboard' type='submit' class='i18n-160 btn btn-sm p-2 pr-4 pl-4 mt-2 w180 active'>登入</button>
            </div>
          </form>
          <div class='d-flex flex-column text-center'>
            <p>
              <span class='i18n-166 text-muted'>还没有账号？</span>
              <span class='primary-color pointer'><u class='i18n-167'>加入我们</u></span>
            </p>
          </div>
        </div>
        <div class='col'></div>
      </div>
    </section>
    <footer id='footer' class='bg-secondary-color text-white'></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  </body>
<html>