@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Sans:wght@100;300;400;500&display=swap');

a {
  color: #002F5D;
}

a:hover {
  color:#002F5D; 
  text-decoration: none;
}

a.primary-color:hover {
  color: #3FD3C3;
}

.pointer {
  cursor: pointer;
}

.nav-link {
  color: #002F5D !important;
}

.nav-link.active {
  border-bottom: 3px solid #3FD3C3;
}

.toast-header {
  height: 60px;
  background-color: #ECFBF9;
}

/* Color */
.primary-color {
  color: #3FD3C3;
}

.secondary-color {
  color: #002F5D !important;
}

.sunset-orange-color {
  color: #FFA940;
}

.danger-color {
  color: rgba(252, 85, 85, 1);
}

.bg-danger-color {
  background-color: rgba(252, 85, 85, 0.1);
}

.bg-primary-color {
  background-color: #3FD3C3;
}

.bg-secondary-color {
  background-color: #002F5D;
}

.bg-grey-color {
  background-color: #E6E6E6;
}

.bg-info-color {
  background-color: #D9F6F3;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  display: inline-flex";
}

/* Button */
button:disabled,
button[disabled]{
  pointer-events: none;
  opacity: 0.2 !important;
}

.btn {
  border-radius: 32px;
  color: #002F5D;
  background-color: #E6E6E6;
  font-weight: bold;
  box-shadow: none !important;
  outline: none !important;
  font-size: 12px;
}

.btn.active {
  border-radius: 32px;
  color: #002F5D;
  background-color: #3FD3C3;
  font-weight: bold;
}

/* Form */
.form-control:focus {
  border-color: #d6d8d9;
  box-shadow: none !important;
  outline: none !important;
}

input[type=checkbox] {
  accent-color: #3FD3C3;
}

/* Width */
.w85 {
  max-width: 85px !important;
}

.w120 {
  max-width: 120px !important;
}

.w175 {
  max-width: 175px !important;
}

.w180 {
  width: 180px !important;
}

.mw85 {
  max-width: 85px !important;
}

.mw180 {
  min-width: 180px !important;
}

/* Height */
.mh30 {
  min-height: 60px;
}

/* Font */
body {
  font-family: 'Noto Sans';
  color: #002F5D;
  font-size: 14px;
}

footer {
  font-family: 'Inter';
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs28 {
  font-size: 28px;
}

/* Carousel Indicators */
.carousel-indicators {
  bottom: -60px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #E6E6E6;
}

.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #3FD3C3;
}

/* Progress Indicators */
.progress-indicator-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #E6E6E6;
}

.progress-indicator-dot.active {
  background-color: #3FD3C3;
}

.progress-indicator-line.active {
  background-color: #3FD3C3;
}

.progress-indicator-word {
  font-weight: bold;
  color: #E6E6E6;
}

.progress-indicator-word.active {
  font-weight: 500;
  color: #002F5D;
}

/* Background Image */
.home-card-1 {
  background-image: url('../images/home-card-1.jpg');
}

.home-card-2 {
  background-image: url('../images/home-card-2.jpg');
}

.home-card-3 {
  background-image: url('../images/home-card-3.jpg');
}

.home-card {
  background-repeat: no-repeat;
  background-position: center;
}

.home-bg-image-1 {
  background-image: url('../images/home-bg-image-1.png');
  background-repeat: no-repeat;
  height: 420px;
}

.home-bg-image-2 {
  background-image: url('../images/home-bg-image-2.jpg');
  background-size: 100% 100%;  
  background-repeat: no-repeat;
  min-height: 600px;
}

/* Home CSS */
.card-option {
  height: 300px;
}

.news-content {
  height: 200px;
}

.pointer {
  cursor: pointer;
}

.frame {
  background: rgba(255, 255, 255, 0.1);
}

/* Application CSS */
.selected-date-time.active {
  background-color: #D9F6F3;
}

.o-hidden {
  overflow-x: hidden;
}

.month {
  transition: transform 0.4s;
  transform: translateX(50%);
  left: -50%;
}

.month.justify-content-end {
  transform: translateX(0);
  left: 0;
}

.month-year {
  margin-top: 5px;
}

.month-item {
  min-width: 55px;
}

.application-content, .payment-content {
  max-width: 768px;
}

/* Screen size */

@media screen and (min-width: 320px) {
  .home-bg-image-2 {
    min-height: 670px;
  }

  .card-text {
    font-size: 12px;
  }

  .progress-indicator {
    overflow-x: scroll;
    position: static;
  }
  
  .progress-indicator-width {
    min-width: 610px;
    min-height: 50px;
  }
  
  .progress-indicator-bar {
    padding-left: 58px;
  }
  
  .progress-indicator-line {
    width: 110px;
    height: 3px;
    border-radius: 12%;
    background-color: #E6E6E6;
  }
}

@media screen and (min-width: 375px) {
  .home-bg-image-2 {
    min-height: 630px;
  }
}

@media screen and (min-width: 768px) {
  .home-bg-image-2 {
    min-height: 580px;
  }

  .progress-indicator {
    overflow-x: hidden;
    position: static;
  }

  .progress-indicator-width {
    max-width: 685px;
    min-height: 50px;
  }
  
  .progress-indicator-bar {
    padding-left: 68px;
  }
  
  .progress-indicator-line {
    width: 125px;
    height: 3px;
    border-radius: 12%;
    background-color: #E6E6E6;
  }
}

@media screen and (min-width: 1024px) {  
  /* .progress-indicator-width {
    max-width: 910px;
    min-height: 50px;
  }
  
  .progress-indicator-bar {
    padding-left: 90px;
  }
  
  .progress-indicator-line {
    width: 170px;
    height: 3px;
    border-radius: 12%;
    background-color: #E6E6E6;
  } */
}

@media screen and (min-width: 1440px) {
  .home-bg-image-1 {
    background-size: 100% 100%;
  }

  /* .progress-indicator-width {
    min-width: 1110px;
    min-height: 50px;
  }
  
  .progress-indicator-bar {
    padding-left: 108px;
  }

  .progress-indicator-line {
    width: 210px;
    height: 3px;
    border-radius: 12%;
    background-color: #E6E6E6;
  } */
}